.box>div{
    position: relative;
    padding: 14px 15px;
}

.box>div:hover{
    background-color: #eeeeee;
    color: black;
    transition:0.2s ;
    cursor: pointer;
    
}

.span{
    display: block;
    padding: 0 12px 0 14px;
    font-weight: 800;
    background-color: rgb(201, 38, 38);
    transform: skew(-12deg);
}
.boxDiv{
    position: absolute;
    display: none;
    background-color: #e7e7e7;
    padding: 20px;
    height: 470px;
    width: 1200px;
    top: 52px;
    left: 0px;

}
.hov:hover .boxDiv{transition: 0.4s;}
.hov:hover .boxDiv{display: block;}

.boxDiv ul li{
    list-style: none;
    text-align: left;
    margin-top: 20px;
    
}
.boxDiv ul li:hover{
    border-bottom:1px solid rgb(52, 51, 51);
    transition: 0.4s;
}

.list{
    position: absolute;
    display: none;
    background-color: #e7e7e7;
    padding: 20px;
    height: 470px;
    top: 55px;
    left: 0px;
    width: 200px;

}
.hov:hover .list{transition: 0.4s;}
.hov:hover .list{display: block;}

.list ul li{
    list-style: none;
    text-align: left;
    margin-top: 17px;
    
}
.list ul li:hover{
    border-bottom:1px solid rgb(52, 51, 51);
}


@media only screen and (max-width: 1500px)  {
    .box>div:nth-child(4){
        display: none;
    }
    .box>div:nth-child(5){
        display: none;
    }
    .box>div:nth-child(8){
        display: none;
    }
    .box>div:nth-child(7){
        display: none;
    }
    .box>div:nth-child(9){
        display: none;
    }
    .boxDiv{
        width: 400px;
    }.off{
        display: none;
    }

    
}

@media only screen and (max-width: 920px) {
    .box>div{
        display: none;
    }
}